:root {

  --main-bg-color: #22272e;

  --main-text-color: #adbac7;

  --input-bg-color: #2d333b;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  background-color: var(--input-bg-color);
  color: var(--main-text-color);
} 

select {
  background-color: var(--input-bg-color);
  color: var(--main-text-color);
}

.header {
  background-color: var(--input-bg-color);
  margin-bottom: 1rem;
}

table, tr, th {
  border: 1px  solid var(--main-text-color);
}
